body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}
a{
  text-decoration: none;
  margin: 0;
  color: #0000008c;
}


h3{
  color: black;
}

a:hover{
  transform: scale(1.1);
  color: black;
}

.logo{
  border-bottom: 2px solid teal;
}

h2.text-center, .row{
  margin-top: 2rem;
}

.featured p{
  text-align: justify;
}
.img-thumbnail{
  border: 0 !important;
  
}

.col-md-6{
  margin-bottom: 20px;
}

.featured img:hover{
  transform: scale(1.1);
}

@media (max-width:768px){
  .featured{
    margin-top: 20px;
    border-top: 2px solid teal;
  }

}

hr{
  height: 10px;
  color: teal;
}

.footer-section {
  background-color: teal;
  padding-top: 1rem;
  padding-bottom: 3rem;
  color: white;
  
}

@media (min-width: 768px){
  .footer-section{
    padding-left: 19rem;
  }
}

.footer-section a{
  text-decoration: none;
  color: #c9c9c9;
}

.footer-section a:hover{
  color: whitesmoke;
}


/* PAGES */

.description{
  text-align: justify;
}

@media (min-width: 768px){
  .first-image{
    padding: 30px;
    padding-right: 60px;
    padding-left: 0;
  }

  .description{
    padding-left: 50px;
    margin-top: 110px;
  }
}

.fa-heart{
  font-size: 1.6rem;
}

.like{
  color: #f06b6b;
}

#box{
  display: none;
}



























